.nav {
    grid-area: n;
    background-color: #CEC7C7;

}

.item a{
    color: black;
    text-decoration: none;

}

.item .active {
    background-color:#C59898 ;
    border: 2px solid red;
}

.item{
    padding: 5px;
    margin: 15px;
    font-size: large;
    background-color: #E5DBDB;
    font-weight: bold;
    font-family: Roboto, serif;
    text-align: center;
    border-radius: 20px;
}
