*{
    margin: 0;
    padding: 0;
}

.wrapper {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-column-gap: 1em;
    grid-row-gap: 1em;
    padding: 50px;
    grid-auto-rows: minmax(100px, auto);
}

.post1 {
    background-color: grey;
    padding: 4em;
}

.post2 {
    background-color: goldenrod;
    padding: 4em;
}
