body{
    background:#61dafb;
}

.content {
    background:#61dafb;
}

.dialogs {
    display: grid;
    grid-template-columns:1fr 1fr;
    grid-template-rows:1fr 1fr;
    background: #E5DBDB;
}

.dialogsItems {
    background: #C4C4C4;
    padding: 20px;
}
.dialogsItem{
    padding: 10px;
    border: 2px solid red;
}

.dialogsItems .active{
    color: gold;
}

.item {
    padding: 10px;
    border: 2px solid red;
}

.messages {
    background: #C59898;
    padding: 20px;
}

.message {
    padding: 10px;
    border: 2px solid red;
}

.hyi{
    display: flex;
    justify-content: center;
    align-items: center;
}

.hyi{
    display: grid;
    place-items: center;
}
